.leftmenucontainer {
    background-color: rgb(244, 244, 244);
    width: 100%;
    max-width: 300px;
    height: 100%;
}

.leftmenucontainer a {
    color: rgb(0, 0, 0);
}

li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.leftmenucontainer li {
    list-style: none;
    margin-bottom: 20px;
}
.leftmenucontainer li a {
    text-decoration: none;
}

.leftmenucontainer img {
    padding-right: 20px;
}

@media (max-width: 650px) {
    .leftmenucontainer p {
        display: none;
    }
    .leftmenucontainer {
        background-color: rgb(242, 242, 242);
        width: 105px;
        height: 100%;
    }
}
