.leftmenucontainer {
    background-color: rgb(244, 244, 244);
    width: 33%;
    height: 100%;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.leftmenucontainer a {
    color: rgb(0, 0, 0);
}

li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.leftmenucontainer li {
    list-style: none;
    margin-bottom: 20px;
}
.leftmenucontainer li a {
    text-decoration: none;
}

.leftmenucontainer img {
    width: 30px;
    padding-right: 20px;
}

@media (max-width: 650px) {
    .leftmenucontainer p {
        display: none;
    }
    .leftmenucontainer {
        background-color: rgb(223, 226, 223);
        width: 15%;
        height: 100%;
        position: absolute;
    }
}
