.sidebaroptioncontainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    cursor: pointer;
    padding-left: 30px;
    margin: 10px;
}

.sidebaroptioncontainer:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
}
.sidebaroptioncontainer svg {
    padding: 20px;
}

@media (max-width: 500px) {
    .sidebaroptioncontainer h2 {
        display: none;
    }
}
