.rightmenunavcontainer {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 100%;
    width: 60%;
    max-width: 50%;
    min-width: 170px;
    padding-left: 20px;
    margin-left: 20px;
}
ul li {
    list-style: none;
}

.httitle {
    padding-top: 1px;
    padding-left: 10px;
    font-size: large;
    font-weight: 700;
}

.ht a {
    width: 100%;
    text-decoration: none;
    color: black;
}
.htul {
    padding-left: 8px;
    position: relative;
}
.ht {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    width: 100%;
}
.underht {
    font-size: 10px;
}

.htcontainer {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.htdots {
    padding-left: 20px;
}
