.rightmenunavcontainer {
    background-color: rgb(241, 241, 241);
    color: rgb(59, 59, 59);
    border-radius: 20px;
    height: 100%;
    width: 60%;
    max-width: 50%;
    min-width: 170px;
    padding-left: 20px;
    margin-left: 20px;
}

.httitle {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    padding-top: 5px;
}
